<% provide(:title, "プロフィール編集") %>
<div class="container user">
  <%= render "layouts/profile_tabs" %>
  <div class="user-view">
    <div class="user-view-box">
      <div class="update-content">
        <div class="row">
          <h5>プロフィール編集</h5>
        </div>
      </div>
        <%= form_with model: @user, url: user_profiles_path, class: "profile-user", local: true do |f| %>
          <%= render 'layouts/error_messages', model: f.object %>
          <div class="update-content">
            <div class="row">
              <%= f.label :name, '名前', class:"col-md-3 required-a" %>
              <%= f.text_field :name, class: "form-control mb-4 col-md-9", id:"name_form" %>
            </div>
          </div>
          <div class="update-content">
            <div class="row">
              <%= f.label :email, 'メールアドレス', class:"col-md-3" %>
              <%= f.text_field :email, class: "form-control mb-4 col-md-9", id:"email_form" %>
            </div>
          </div>
          <div class="update-content">
            <div class="row">
              <%= f.label :image, 'アイコン画像', class:"col-md-3" %>
              <%= f.file_field :image, class: 'mb-4 col-md-9' %>
            </div>
          </div>
          <div class="update-content">
            <div class="row">
              <%= f.label :introduction, '自己紹介', class:"col-md-3 required-a" %>
              <%= f.text_area :introduction, class: "form-control mb-4 col-md-9", placeholder: "自己紹介を入力", id:"introduction_form" %>
            </div>
          </div>
          <div class="update-content">
            <div class="row">
              <%= f.submit "更新", class:"col-md-2 btn btn-primary mx-3" %>
            </div>
          </div>
        <% end %>
        <div class="update-content">
          <div class="row">
            <%= link_to "アカウントを削除", user_path(@user), method: :delete, data: { confirm: "本当に削除しますか？" }, class:"col-md-2 btn btn-danger mx-3" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
