<% provide(:title, "フォローしているユーザーのレシピ") %>
<div class="container out-box">
  <%= render "layouts/profile_tabs" %>
  <div class="first-box">
    <div class="second-box">
      <div class="title-content">
        <% if @search_word.present? %>
          <h3>フォローしているユーザーの"<%= @search_word %>”のレシピ：<%= @feed_items.count %>件</h3>
        <% else %>
        <h3>フォローしているユーザーのレシピ一覧 (<%= @feed_items.total_count %>件)</h3> 
        <% end %>
      </div>
      <div class="pagination">
        <%= paginate @feed_items %>
      </div>
      <div class="container">
        <%= render 'shared/feed' %>
      </div>
    </div>
  </div>
</div>


