<% provide(:title, "アカウント編集") %>
<div class="container out-box">
  <%= render "layouts/profile_tabs" %>
  <div class="first-box">
    <div class="second-box">
      <div class="title-content">
        <div class="row">
          <h5>アカウント情報編集</h5>
        </div>
      </div>
        <%= form_with model: @user, url: user_accounts_path, class: "edit-account", local: true do |f| %>
          <%= render 'layouts/error_messages', model: f.object %>
          <div class="title-content">
            <div class="row">
              <%= f.label :password, '変更後パスワード（変更する場合のみ入力）', class:"col-md-3" %>
              <%= f.text_field :password, class: "form-control mb-4 col-md-9", placeholder: "パスワードを入力", id: "password_form" %>
            </div>
          </div>
          <div class="title-content">
            <div class="row">
              <%= f.label :password_confirmation, '変更後パスワード確認用（変更する場合のみ入力）', class:"col-md-3" %>
              <%= f.text_field :password_confirmation, class: "form-control mb-4 col-md-9", placeholder: "パスワードを入力", id:"password_confirmation_form" %>
            </div>
          </div>
          <div class="title-content">
            <div class="row">
              <%= f.submit "更新", class:"col-md-2 btn btn-primary mx-3" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
