<% @recipe = Recipe.find(favorite.recipe_id) %>
<% user = @recipe.user %>
<li id="favorite-<%= favorite.id %>">
  <div class="row favorite-recipe">
    <div class="col-md-2">
      <% if user.user_image.attached? %>
        <%= image_tag user.user_image.variant(resize:'400x400').processed, class:"recipe-list-image" %>
      <% else %>
        <img alt="No Image" class="recipe-list-image" src="../../assets/no_image.jpeg">
      <% end %>    
    </div>
    <div class="col-md-7">
      <p><%= link_to @recipe.name, recipe_path(@recipe), class: "recipe-name-link" %></p>
      <p><%= @recipe.description %></p>
      <p class="recipe-user">cooked by <%= link_to user.name, user_profiles_path(user), class: 'user-profile' %></p>
    </div>
  </div>
</li>