<%= form_for(@comment) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <%= hidden_field_tag :recipe_id, @recipe.id %>
  <div class="col-md-8">
    <div class="field">
      <%= f.text_area :content, placeholder: "コメントを入力..（60文字以内）", rows: "10", cols: "60" %>
    </div>
  </div>
  <div class="col-md-3">
    <%= f.submit "コメント投稿", class: "btn btn-primary" %>
  </div>
<% end %>