<% provide(:title, "ログイン") %>

<h2>ログイン</h2>

<div class="container devise">
  <div class="frame">
    <div class="devise-inner">
      <%= form_with scope: :user, url: user_session_path, id: 'new_session', class: 'new_session', local: true do |f| %>
        <div class="field form-row justify-content-center">
          <div class="col-2 required-b pt-1">
          </div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class:"col-10 px-8", id:"email_form" %>
        </div>
        <div class="field form-row justify-content-center">
          <div class="col-2 required-b pt-1">
          </div>
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class:"col-10 px-8", id:"password_form" %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <div class="actions">
          <%= f.submit "ログイン", class:"form-control btn-primary my-4" %>
        </div>
      <% end %>
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
