<%= form_with model: @recipe, url: recipes_path, id: "new-recipe", local: true do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <div class="update-content">
    <div class="row">
      <%= f.label :name, 'レシピ名', class:"col-md-3 required-a" %>
      <%= f.text_field :name, class: "form-control mb-4 col-md-9", id:"name_form" %>
    </div>
  </div>
  <div class="update-content">
    <div class="row">
      <%= f.label :portion, '分量（例：2人分）', class:"col-md-3 optimal-a" %>
      <%= f.text_field :portion, class: "form-control mb-4 col-md-9", id:"portion_form" %>
    </div>
  </div>
  <div class="update-content">
    <div class="row">
      <%= f.label :description, 'レシピの説明', class:"col-md-3 optimal-a" %>
      <%= f.text_area :description, class: "form-control mb-4 col-md-9", id:"description_form" %>
    </div>
  </div>
  <div class="update-content">
    <div class="row">
      <%= f.label :tips, 'レシピのポイント', class:"col-md-3 optimal-a" %>
      <%= f.text_area :tips, class: "form-control mb-4 col-md-9", id:"tips_form" %>
    </div>
  </div>
  <div class="update-content">
    <div class="row">
      <%= f.label :episode, 'このレシピの生い立ち', class:"col-md-3 optimal-a" %>
      <%= f.text_area :episode, class: "form-control mb-4 col-md-9", id:"episode_form" %>
    </div>
  </div>
  <div class="update-content">
    <div class="row">
      <%= f.submit "レシピ登録", class:"col-md-2 btn btn-primary mx-auto" %>
    </div>
  </div>
<% end %>