<% provide(:title, "#{@recipe.name}") %>
<div class="container">
  <div class="row">
    <div class="col-12 recipe-name mb-4">
      <h2><%= @recipe.name %></h2>
    </div>
    <div class="col-md-5 recipe-image">
      <% if @recipe.recipe_image.attached? %>
        <%= image_tag @recipe.recipe_image.variant(resize:'400x400').processed, class:"recipe-show-image" %>
      <% else %>
        <img alt="レシピ画像" class="recipe-show-image" src="../../assets/default_icon.jpg">
      <% end %>
    </div>
    <div class="col-md-7">
      <div class="mb-5">
        <button type="button" class="btn btn-fav">お気に入りに追加</button>
      </div>
      <div class="recipe-description">
        <p><%= @recipe.description %></p>
      </div>
      <div class="recipe-user-name text-right mb-3">
        <%= link_to @recipe.user.name, user_profiles_path(@recipe.user), class: 'user-profile' %>
      </div>
      <div class="text-right">
        <% if current_user == @recipe.user %>
          <%= link_to "編集", edit_recipe_path(@recipe), class: 'edit-recipe' %>　
        <% end %>
        <% if current_user&.admin? || (current_user == @recipe.user) %>
          <%= link_to "削除", recipe_path(@recipe), method: :delete, class: 'delete-recipe',
                                      data: { confirm: "本当に削除しますか？" } %>
        <% end %>
      </div>
    </div>
    <div class="col-12 ingredient">
      <h3>材料（<%= @recipe.portion %>人分）
    </div>
    <div class="col-12 directions">
      <p>作り方</p>
    </div>
    <div class="col-12 tips">
      <p><%= @recipe.tips %></p>
    </div>
    </div class="col-12 episode">
      <p><%= @recipe.episode %></p>
    </div>
  </div>
</div>