<% provide(:title, "#{@recipe.name}") %>
<% @comments  = @recipe.feed_comment(@recipe.id) %>
<div class="container">
  <div class="row">
    <div class="col-12 recipe-name mb-4">
      <h2 class="font-weight-bold"><%= @recipe.name %></h2>
    </div>
    <div class="col-md-5 recipe-image">
      <% if @recipe.recipe_image.attached? %>
        <%= image_tag @recipe.recipe_image.variant(resize:'400x400').processed, class:"recipe-show-image" %>
      <% else %>
        <img alt="レシピ画像" class="recipe-show-image" src="../../assets/default_icon.jpg">
      <% end %>
      <%= render 'users/favorite_form' %>
    </div>
    <div class="col-md-7">
      <div class="recipe-description my-5">
        <p><%= @recipe.description %></p>
      </div>
      <div class="recipe-user-name text-right mb-3">
        <%= link_to "投稿者：" + @recipe.user.name, user_profiles_path(@recipe.user), class: 'user-profile' %>
      </div>
      <div class="text-right">
        <% if current_user == @recipe.user %>
          <%= link_to "編集", edit_recipe_path(@recipe), class: 'edit-recipe' %>　
        <% end %>
        <% if current_user&.admin? || (current_user == @recipe.user) %>
          <%= link_to "削除", recipe_path(@recipe), method: :delete, class: 'delete-recipe',
                                      data: { confirm: "本当に削除しますか？" } %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-12 ingredient my-3">
    <h3 class="show-title">材料（<%= @recipe.portion.to_i %>人分）
    <table class="ingredient">
      <% @recipe.ingredients.each do |i| %>
        <% if i.name.present? %>
          <tr>
            <td><%= i.name %></td>
            <td><%= i.quantity %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
  <div class="col-12 procedure">
    <h3 class="show-title">作り方</h3>
    <% @recipe.procedures.each do |i| %>
      <% if i.how_to_use.present? %>
        <div class="col-12 each_procedure">
          <p><span class="font-weight-bold"><%= i.number %>.　</span><%=i.how_to_use %></p>
        </div>     
      <% end %>
    <% end %>
  </div>
  <div class="col-12 tips">
    <h3 class="show-title">このレシピのポイント・コツ</h3>
    <p><%= @recipe.tips %></p>
  </div>
  <div class="col-12 episode">
    <h3 class="show-title">このレシピの生い立ち</h3>
    <p><%= @recipe.episode %></p>
  </div>
  <%= render "comments/feed_comments" %>
  <%= render "comments/new_form" %>
</div>