<% provide(:title, "パスワード") %>
<h2>パスワードをお忘れの方へ</h2>
<div class="container devise">
  <div class="frame">
    <%= render "users/shared/error_messages", resource: resource %>
    <div class="devise-inner">
      <%= form_with scope: :user, url: user_password_path, id: 'edit_password', class: 'edit_password', local: true do |f| %>
        <div class="field form-row justify-content-center">
          <div class="col-2 required-b pt-1">
          </div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class:"col-10 px-8" %>
        </div>
        <div class="actions">
          <%= f.submit "パスワードリセット用のメールの送信", class:"form-control btn-primary my-4" %>
        </div>
      <% end %>
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
