<header>
  <nav class="navbar navbar-expand-md navbar-light sticky-top">
    <div class="container">
      <li class="list-unstyled"><%= link_to '玄米ウィズ', home_top_path, class: "navbar-brand" %><span>玄米に合ったレシピを投稿・検索できるサイト</span></li>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-content">
        <% if current_user %>
          <ul class="navbar-nav ml-auto font-weight-bold">
            <li class="nav-item"><%= link_to 'レシピ登録', new_recipe_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to 'お気に入り', favorites_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to 'ユーザー一覧', users_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to 'マイページ', user_profiles_path(current_user.id), class: "nav-link" %></li>
            <li class="nav-item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-link" %></li>
          </ul>
        <% else %>
          <ul class="navbar-nav ml-auto font-weight-bold" >
            <li class="nav-item"><%= link_to 'ユーザー登録', new_user_registration_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to 'ログイン', new_user_session_path, class: "nav-link" %></li>
          </ul>
        <% end %>
      </div>
    </div>
    </div>
  </nav>
</header>
